
/* Common CSS Start */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Common CSS End */

/* Banner CSS start */
.banner-container{
 height: 652px;
 background-image: url('../assets/Hero-bg.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.banner-container .banner-area{
      max-width: 998px;
      height: 582px;
      margin: 0 auto;
      margin-top: 26px;
      margin-bottom: 44px;
}
.banner-container .banner-image{
    width: 240px;
    height: 240px;
    margin: 0 auto;

}
.banner-container .banner-image img{
    width: 100%;
    height:100%;
    
}
.banner-container .banner-text h1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
text-align: center;
margin-top: 32px;
line-height: 66px;
}
.banner-container .banner-text p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
margin-top: 24px;
line-height: 25px;

}
.banner-container .banner-btn{
    margin-top: 32px;
    text-align: center;
}
.banner-container .banner-btn button{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
border-radius: 8px;
background: rgb(13, 19, 33);
padding: 21px 24px;

}
/* Banner CSS End */

/* Devlopment Section Start  */

.devlopment-container{
    width: 1140px;
    height:1400px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
}
.devlopment-container .devlopment-area{
  width: 946px;
  height: 1300px;
  border: 2px solid red;
  padding: 80px 97px;
  margin: 0 auto;
}
.devlopment-container .devlopment-area .devlopment-title-box{
  margin: 0 47px 48px 47px;
}
.devlopment-container .devlopment-area .devlopment-title-box h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.devlopment-container .devlopment-area .devlopment-title-box p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity: 0.7;

}
.devlopment-container .devlopment-card-container{
    border:2px solid black;
}
/* devlopment-box-container-one */
.devlopment-container .devlopment-box-container-one{
    width: 850px;
    height: 325px;
    display: flex;
    gap: 100px;
     padding: 40px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 30px;
}
.devlopment-container .devlopment-box-container-one .card-box-text{
    width: 477px;
    height: 220px;
}
.devlopment-container .devlopment-box-container-one .card-box-img{
    width: 260px;
    height: 217px;
}
.devlopment-container .devlopment-box-container-one .card-box-img img{
    width: 100%;
    height: 100%;
}
.devlopment-container .devlopment-box-container-one .card-box-text h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
text-align: left;
line-height: 36px;
margin-bottom: 14px;
}
.devlopment-container .devlopment-box-container-one .card-box-text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
opacity: 0.7;
margin-bottom: 28px;
}
.devlopment-container .devlopment-box-container-one .card-box-text button{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
padding: 15px 20px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: rgb(255,255,255);

}

/* devlopment-box-container-two */
.devlopment-container .devlopment-box-container-two{
    width: 850px;
    height: 325px;
    display: flex;
    gap: 100px;
     padding: 40px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 28px;
}
.devlopment-container .devlopment-box-container-two .card-box-text{
    width: 477px;
    height: 220px;
}
.devlopment-container .devlopment-box-container-two .card-box-img{
    width: 240px;
    height: 240px;
}
.devlopment-container .devlopment-box-container-two .card-box-img img{
    width: 100%;
    height: 100%;
}
.devlopment-container .devlopment-box-container-two .card-box-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 14px;
}
.devlopment-container .devlopment-box-container-two .card-box-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 28px;
}
.devlopment-container .devlopment-box-container-two .card-box-text button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: rgb(255,255,255);
}

/* devlopment-box-container-three */
.devlopment-container .devlopment-box-container-three{
    width: 850px;
    height: 325px;
    display: flex;
    gap: 100px;
     padding: 40px;
    border-radius: 15px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.devlopment-container .devlopment-box-container-three .card-box-text{
    width: 477px;
    height: 220px;
}
.devlopment-container .devlopment-box-container-three .card-box-img{
    width: 240px;
    height: 240px;
}
.devlopment-container .devlopment-box-container-three .card-box-img img{
    width: 100%;
    height: 100%;
}
.devlopment-container .devlopment-box-container-three .card-box-text h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-bottom: 14px;
}
.devlopment-container .devlopment-box-container-three .card-box-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 28px;
}
.devlopment-container .devlopment-box-container-three .card-box-text button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: rgb(255,255,255);
}
/* Devlopment Section End  */

   /* Inspire-Section-Start  */
   .inspire-container{
    width:1140px ;
    height:800px ;
    margin: 0 auto;
    margin-top: 90px;
   }
   .inspire-container .inspire-text-container{
    padding: 0 144px;
    margin-bottom: 48px;
   }
.inspire-container .inspire-text-container h3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
margin-bottom: 24px;
}
.inspire-container .inspire-text-container p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity: 0.7;

}
.inspire-container .inspire-video-container {
    width:1140px ;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.inspire-container .inspire-video-container .inspire-video-link{
    width: 1076px;
    height: 550px;
    margin: 0 auto;
    margin-top: 32px;
}
.inspire-container .inspire-video-container iframe{
     width: 100%;
     height: 100%;
     border-radius: 16px;
     
}
   /* Inspire-Section-Start  */

    /* Target-Section-Start */
.target-container{
    width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
}
.target-container .target-text-container{
    margin: 0 144px;
}
.target-container .target-text-container h3{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}
.target-container .target-text-container p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
}
.target-card-container{
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
    /* HTML Card */

 .html-card{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-container .target-card-container .html-card img{
      margin-bottom: 24px;
}
.target-container .target-card-container .html-card h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
text-align: left;
margin-bottom: 8px;
}
.target-container .target-card-container .html-card p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
}
.target-container .target-card-container .html-card a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;

}
/* CSS Card */
.css-card{
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-container .target-card-container .css-card img{
    margin-bottom: 24px;
}
.target-container .target-card-container .css-card h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
text-align: left;
margin-bottom: 8px;
}
.target-container .target-card-container .css-card p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
}
.target-container .target-card-container .css-card a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;

}

/* js-card */
.js-card{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.target-container .target-card-container .js-card img{
    margin-bottom: 24px;
}
.target-container .target-card-container .js-card h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
text-align: left;
margin-bottom: 8px;
}
.target-container .target-card-container .js-card p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom: 24px;
}
.target-container .target-card-container .js-card a{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
text-decoration-line: underline;

}
   /* Target-Section-End */

   /* Support Section Start */
.support-container{
    width:1140px;
    height:313px ;
    margin: 0 auto;
    margin-top: 47px;
     background-image:linear-gradient(to bottom ,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("../assets/handshake.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 80px;
}
.support-container .support-area{
    padding: 64px 48px;
}
.support-container .support-area h2{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 16px;
}
.support-container .support-area p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;

}
.support-container .support-area input[type="text"]{
    color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
padding: 19px 250px 19px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
margin-right: 10px;
}
.support-container .support-area input[type="button"]{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
padding: 17px 20px 17px 20px;
border-radius: 8px;
background: rgb(255, 255, 255);
}
.input{
    display: flex;
    justify-content: center;
}
   /* Support Section End */

   